.techniques {
    border: 1px solid black;
    height: 8em;
    width: 20em;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 1em;
}

.tech__list {
    list-style-type: none;
    color: white !important;
}

.technique__link {
    margin-right: 1em;
    color: white;
    font-size: 18px;
    margin-bottom: 2%;
}

.technique__header {
    color: white
}



.searchBox {
    display: flex;
    flex-direction: column;
}