.videos {
    max-width: 50%;
}

.videoList {
    height: 511px;
    max-width: 100%;
    overflow-y: scroll;
}

.MuiTypography-body1 {
    color: white;
}
.MuiFormLabel-root {
    color: white !important;
}