.MuiTypography-body2 {
    max-height: 60px; 
    overflow-y: scroll
}

.card {
    max-width: 70%;
}

.MuiCardMedia-root {
    width: 100%;
    height: auto;
}

.MuiCardContent-root {
    background-color: #716a8f;
}