.MuiTypography-body2 {
    max-height: 60px; 
    overflow-y: scroll
}

.card {
    max-width: 70%;
}

.MuiCardMedia-root {
    width: 100%;
    height: auto;
}

.MuiCardContent-root {
    background-color: #716a8f;
}

.MuiCardActionArea-root  {
    background-color: #716a8f;
}

.MuiButtonBase-root {
    background-color: #716a8f
}

.MuiTypography-colorTextSecondary {
    color: white !important; 
}

.MuiTypography-h5 {
    color: white
}