.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.videos__dropdowns {
    flex-basis: 40%
}

.logo {
    
    margin-left: 28em;
}

.detail {
    /* display: flex; */
    /* flex-direction: row;
    flex-wrap: wrap; */
}

.container {
    background-color: #716a8f;
}