.note {
    max-width: 75%;
}

.form-control {
    max-width: 100%;
}

.noteForm {
    max-width: 75%;
}

.saveButton {
    margin-bottom: 100px;
}

.timeStamp {
    cursor: pointer;
    font-size: large;
    margin-right: 3%;
    text-decoration: underline;
    color: yellow;
}